<div>
    {% url 'public:index' as index_url %}
    <span>{% if request.path == index_url %}home {% else %}<a href = "{{ index_url }}">home</a>{% endif %}</span>
    {% url 'public:about' as about_url %}
    <span>{% if request.path == about_url %}about {% else %}<a href = "{{ about_url }}">about</a>{% endif %}</span>
    {% url 'public:contact' as contact_url %}
    <span>{% if request.path == contact_url %}contact {% else %}<a href = "{{ contact_url }}">contact</a>{% endif %}</span>

    <span style = "float: right">
        {% if user.is_authenticated %}
            <span> hi {% if request.path == profile_url %}{{ user.username }}{% else %}<a href="{% url 'accounts:profile' %}">profile</a>{% endif %}</span>
            <span><a href="{% url 'accounts:logout' %}">logout</a></span>
        {% else %}
            <span><a href="{% url 'accounts:login' %}">login</a></span> 
        {% endif %}
    </span>
</div>